 * {
	box-sizing: border-box;
}

body {
	font-family: $main-font, Verdana, Geneva, sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
	color: #000;
}

a {
	text-decoration: none;
	color: inherit;
}

h1 {
	font-size: 48px;
	font-weight: 700;
	margin-top: 90px;
	margin-bottom: 48px;
}
h2 {
	font-size: 36px;
	font-weight: 700;
	margin-top: 0;
	margin-bottom: 48px;
	& span {
		color: $main-color;
	}
}
h3 {
	font-size: 21px;
	font-weight: 500;
}

.container {
	width: 100%;
	max-width: 1120px;
	margin-right: auto;
	margin-left: auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin-right: $a-gutter-x;
	margin-left: $a-gutter-x;
}

.button {
	font-family: inherit;
	font-size: 13px;
	font-weight: 600;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 14px;
	cursor: pointer;
	user-select: none;
	transition: all .5s ease;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	color: #fff;
	border: 1px solid $main-color;
	background-color: $main-color;
	& &__icon {
		position: absolute;
		top: 50%;
		left: 15px;
		transform: translateY(-50%);

		fill: #fff;
	}
	&:hover {
		color: $main-color;
		background-color: #fff;
	}
	&:hover &__icon {
		fill: $main-color;
	}
}

.button--icon {
	padding-left: 46px;
}

.icon {
	display: inline-block;
	vertical-align: middle;

	fill: #000;
}

.invisible {
	position: absolute;
	clip: rect(0,0,0,0);
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;

	clip-path: inset(100%);
}

@media (max-width: 1120px) {
	.container {
		max-width: 95%;
		padding-right: $gutter-x;
		padding-left: $gutter-x;
	}
}
