

$main-color: #098FCF;
$second-color: #043C77;
$grey-color: #F9F9F9;

$main-font: Montserrat;

$gutter-x: 15px;
$a-gutter-x:  calc(-1 * $gutter-x);

//breakpoints

$media-laptop: 960px;
$media-tablet: 768px;
$media-mobile: 320px;