

$main-color: #098FCF;
$second-color: #043C77;
$grey-color: #F9F9F9;

$main-font: Montserrat;

$block-shadow: 0 4px 30px rgba(0, 0, 0, .1);
$transition-cubiec: all 0.3s cubic-bezier(.47,.38,.83,.67);

$gutter-x: 15px;
$a-gutter-x:  calc(-1 * $gutter-x);

//breakpoints

$media-laptop: 960px;
$media-tablet: 768px;
$media-mobile: 425px;