.fuel-price {
	margin-bottom: 100px;
}

@media (max-width: $media-tablet) {
	.fuel-price {
		& &__table {
			overflow: auto;
			position: relative;
		}
	}
}

@media (max-width: $media-tablet) {
	.fuel-price {
		margin-bottom: 50px;
	}
}