.partners{
	margin-bottom: 100px;
	& &__title{
		margin-bottom: 27px;
	}
	& &__slider-control{
		width: 100%;
		display: flex;
		justify-content: center;
	}
	& &__slider-wrapper{
		align-items: end;
	}
	& &__carousel{
		margin-top: -6px;
		padding-bottom: 45px;
		margin-bottom: 45px;
		border-bottom: 1px solid #E7E7E7;
	}
}