.reviews {
	position: relative;
	padding-top: 80px;
	padding-bottom: 80px;
	background-color: $grey-color;

	& &__carousel {
		margin-right: $a-gutter-x;
		margin-left: $a-gutter-x;
	}

	& &__slide {
		padding-right: $gutter-x;
		padding-left: $gutter-x;
	}

	& &__header {
		position: relative;
		display: flex;
		justify-content: space-between;
	}

	& &__slider-buttons {
		position: absolute;
		z-index: 100;
		top: 0;
		right: 0;
		display: flex;
	}

	& &__review-body {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: start;
		height: 100%;
		padding: 40px;
		background-color: #fff;
	}

	& &__title {
		font-size: 15px;
		font-weight: 600;
		line-height: 18px;
		margin-top: 0;
		margin-bottom: 12px;
	}

	& &__title-description {
		font-size: 12px;
		font-weight: 500;
		line-height: 15px;
		max-width: 55%;
		margin: 0;
	}

	& &__content {
		font-size: 16px;
		font-weight: 400;
		line-height: 140%;
		margin-top: 40px;
		margin-bottom: 40px;
	}

	& &__link {
		display: flex;
		align-items: flex-end;
		vertical-align: bottom;

		flex-grow: 1;
	}

	& &__button {
		margin-top: 44px;
		display: flex;
		justify-content: center;
	}
}

@media (max-width: $media-mobile) {
	.reviews {
		& &__review-body {
			padding: 20px;
		}

		& &__title-description {
			max-width: 100%;
		}
	}
}